.tile{
  border: none;
  max-width: 20rem;
  min-width: 0;
  border-radius: 1.5rem;
  background-color: #1F3641;
  box-shadow: 0px 8px rgba(0,0,0,0.4);
  cursor: pointer;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  box-sizing: border-box;
  padding: 38px;
  transition: none 0s ease 0s;
  overflow: hidden;  /* NEW */
  min-width: 0; 
}