.layout-mask{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: transparent;
    display: flex;
    z-index: 1;
}

.result {
    height: 266px;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1f3641;
}