.header{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .turn{
        align-items: center;
        background-color: #1f3641;
        border-radius: 10px;
        box-shadow: inset 0 -4px 0 rgba(0,0,0,.4);
        color: #a8bfc9;
        display: flex;
        font-size: 16px;
        font-weight: 700;
        justify-self: center;
        letter-spacing: 1px;
        padding: 16px 30px;
        text-transform: uppercase;
    }
    .restart {
        cursor: pointer;
        border: none;
        width: 52px;
        height: 52px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        background-color: #A8BFC9;
        box-shadow: rgb(107, 137, 151) 0px 4px;
        border-radius: 1rem;
        justify-self: end;
    }
}

.tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 19px;
    margin: 19px 0px 27px;
}

.footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    .tabs{
        width: 100%;
        border-radius: 15px;
        padding: 12px 1px;
        text-align: center;
        text-transform: uppercase;
        color: #1A2A33;
        &.x-score{
            background-color: #31C3BD;
        }
        &.tie-score{
            background-color: #A8BFC9;
        }
        &.o-score{
            background-color: #F2B137;
        }
    }
    
}


